/* styles/Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    background-color: #f0f2f5;
    padding-top: 3rem;
  }
  
  .login-header {
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-label {
    margin-bottom: 10px;
    width: 95%;
  }
  
  .login-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .login-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: #ffffff;
    cursor: pointer;
  }

  .register-link-text {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    /* font-size: 14px;
    font-weight: 400; */
    color: #0077b6;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .register-link-text:hover {
    color: #005d8f;
  }